*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}

body{
	width:100%;
	color: #85919d;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
    line-height: 28px;
    position: relative;
    min-width: 1200px;
}

a{
	text-decoration:none;
	outline: none;
}

:focus{
	outline: none;
}

.container{
	width:1170px;
	height:100%;
	margin:0 auto;
	padding: 28px;
	overflow:hidden;
	position: relative;

	&:after, &:before{
		float:none;
	}
}

.submit-btn{
	cursor: pointer;
	background: #00adb5 none repeat scroll 0 0;
    border: 2px solid #00adb5;
    color: #fff;
    border-radius: 20px;
    font-family: "Open Sans",Arial,serif;
    font-weight: 400;
    margin:0 4px 4px 0;
    line-height: 1.42857;
    padding: 8px 16px;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s ease 0s;

    &:focus, &:active, &:hover{
    	background: #00c5cf;
    	border: 2px solid #00c5cf;
    }
}

/* 标题类型一 */
.section-title-1{
	width: 100%;
	margin-bottom: 5em;

	h2 {
		font-weight: 300;
		font-size: 42px;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	p {
		font-size: 18px;
	    font-weight: 300;
	    line-height: 32px;
	}
}

/* 标题类型二 */
.section-title-2 {
	width: 100%;

	h2{
		margin: 0;
		font-size: 24px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}

/* 文本居中 */
.text-center {
	text-align: center;
}

h1, h2, h3, h4, h5, h6{
	color: rgba(0, 0, 0, 0.7);
	margin: 0 0 30px;
	line-height: 1.1;
}

.h3{
	color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    padding: 0 0 20px;
    font-size: 24px;
}

.row {
	width: 100%;

	&::after{
		clear: both;
		content: " ";
	    display: table;
	}
}

.col-md-3 {
	width: 25%;
	float: left;
	position: relative;
	overflow: hidden;
}

.col-md-4{
	width: 33.3333%;
	float: left;
	position: relative;
	overflow: hidden;
}

.col-md-6 {
	width: 50%;
	float: left;
	position: relative;
	overflow: hidden;
}

.col-md-12{
	width: 100%;
	position:relative;
	float: left;
}

img{
	max-width: 100%;
	height: auto;
	border: 0 none;
	vertical-align: middle;
}

.response-img {
    display: block;
    height: auto;
    max-width: 100%;
    transition: 0.3s all ease;
}