.friend{
	background-color: #f9f9f9;
}

.friend-item{
	display: inline-block;
	width: 20%;
	text-align: center;
	background-color: #fff;

	a{
		color: #85919d;
		display: block;
		padding: 8px 0;
	}
}