$height:88px;
$logoColor:#00adb5;

.header{
	height: $height;
	width: 100%;
	padding: 0;
	position: relative;
	top: 0;
	left: 0;
	background: white;
	box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.22);

	.header-container{
		width: 1170px;
		height:$height;
		padding:0px 15px;
		margin: 0 auto;
		transition: 1s all ease;
	}

	.header-nav{
		float: left;
		height: $height;
	    width: 100%;
	}
}



.logo {
	color: rgba(0, 0, 0, 0.7);
    line-height: 88px;
    float: left;
    font-size: 20px;
    font-weight: 600; 
    text-transform: uppercase;  

    &:hover,&:focus{
    	a{
    		color: rgba(0, 0,0 , 0.9);

    		&::before,&::after{
			    width: 100%;
		    }
    	}   	
    }

    %border{
    	background: $logoColor none repeat scroll 0 0;
	    content: "";
	    height: 2px;
	    position: absolute;
	    transition: all 0.2s ease 0s;
	    width: 0px;
    }

    a {
	    border-left: 2px solid $logoColor;
	    border-right: 2px solid $logoColor;
	    color: rgba(21, 31, 44, 0.8);
	    text-decoration: none;
	    padding: 0 7px;
	    position: relative; 

		&::before{
	    	@extend %border;
		    top: 0;
		    left: 0;   
	    }

	    &::after{
	    	@extend %border;
		    bottom:0;
		    right: 0;
	    }
	}
}

.nav{
    display: block;
    float: right;
    position: relative;
    z-index: 100;

    ul{
	    color: #848484;
	    font-family: "Open Sans",Arial,serif;
	    height: $height;
	    font-weight: 300;
	    outline: none;

	    li{
			float: left;
			height: 0;
		    padding-top: 1px;
			position: relative;
			list-style: none;
			transition: 0.6s all ease;
			cursor: pointer;
			outline: none;

			a{
				display: block;
				position: relative;   
			    padding: 32px 22px;
			    text-decoration: none;
				outline: none;
				font-size: 15px;
			    font-weight: 400;
				font-family: "Lato","PingFang SC","Microsoft YaHei",sans-serif;
				color: #555;
				transition: 0.5s all ease;
			}

			&:hover{
				background-color: #00adb5;
				height: $height;
				outline: none;

				a{
					color: #fff;
					outline: none;
				}
			}	
		}

		.active {
			background-color: #00adb5;
			color: #fff;
			height: $height;
			a{
				color: #fff;
			}
		}
	}
}

@media screen and ( max-width:1200px ) {
	.header {
		width: 970px;
	}
}

@media screen and ( max-width:1000px ) {
	.header {
		width: 820px;
	}
}