.slider{
	width: 100%;
	background-image: url("/static/home-1.jpg");
	background-size:100% 100%;
	filter: brightness(0.66);

	img{
		display: block;
		width: 100%;
		height: 100%;
	}
}

.welcome-h{
	color: #fff;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 3.875rem;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.42rem;
    line-height: 5.5rem;
}